<li class="versus round">
  <div class="left white_player">
    <%= (game.white.nil?) ? "Awaiting Player" : (current_user.id == game.white_id) ? "You" : game.white.name %>
    <%= image_for game.white %>
  </div>
  <div class="right black_player">
    <%= (game.black.nil?) ? "Awaiting Player" : (current_user.id == game.black_id) ? "You" : game.black.name %>
    <%= image_for game.black %>
  </div>
  <div class="center">
    <%= link_to game.get_button_text(current_user), game_path(game), :class => "button gray" %>
  </div>
</li>