<%
if current_user? @game.white
  color = "white"
elsif current_user? @game.black
  color = "black"
else
  color = "observer"
end

%>
<div class="player black sm_round" id="black">
  <%= image_tag 'icon.png', :class => 'sm_round' %>
  <p><%= (@game.black.nil?) ? "Awaiting Player" : (current_user? @game.black) ? "You" : @game.black.name %></p>
</div>
<div class="game">
  <canvas class="sm_round" id="game" width="512" height="512"></canvas>
  <div class="status sm_round" id="moves">
    <h3>Game <%= @game.id %></h3>
  </div>
</div>
<div class="player white sm_round" id="white">
  <%= image_tag 'icon.png', :class => 'sm_round' %>
  <p><%= (@game.white.nil?) ? "Awaiting Player" : (current_user? @game.white) ? "You" : @game.white.name %></p>
</div>
<%= javascript_include_tag 'jquery.timers-1.2.js' %>
<%= javascript_include_tag 'chess.js' %>
<%= javascript_include_tag 'chess-util.js' %>
<script src="http://js.pusherapp.com/1.8/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
  var gImages;
  var gImagesLoaded = false;
  var gImageLoadIndex = 0;
  var gImagePath = "../images/"
  var gChess;

  $(function(){
    $.ajaxSetup ({
        cache: false
    });

    loadImages();
    $(document).everyTime(50, "images_loading", function(){
      if(gImagesLoaded){
	$(document).stopTime("images_loading");
	gChess = new Chess(document.getElementById("game"), <%= @game.id %>, "<%= color %>");
	gChess.init();
	<%  if color == "white" || color == "black" %>
	gChess.canvasElement.addEventListener("click", clickListener, false);
	<% end %>
	gChess.yourturn = <%= current_user? @game.turn %>;

	$(document).everyTime(gChess.interval, "loop", function(){
	  gChess.loop();
	});
      }
    });

    var pusher = new Pusher('e0b03bb1cb7d458de516');
    var channel = pusher.subscribe('<%= @game.id %>');
    channel.bind('move', function(data) {
      console.log(data);
      if(data.status == "success"){
        gChess.move(data);
	gChess.turn(data.turn);
      } else {
	$.gritter.add({
	    title: data.title,
	    text: data.text
	});
      }
    });

  });

  function clickListener(e){
    gChess.canvasOnClick(e);
  }
</script>