<% if current_user? @game.black %>
<%= render 'white_player.html' %>
<% else %>
<%= render 'black_player.html' %>
<%  end %>
<div id="board" class="game">
  <canvas class="sm_round" id="game" width="512" height="512"></canvas>
  <div class="status sm_round">
    <div class="status_top">
      <h3>Game <%= @game.id %></h3>
    </div>
    <div class="status_content">
      <p>Moves:</p>
      <ul id="move_list">
        <% count = 1 %>
        <% @game.moves.each_slice(2) do | slice | %>
        <li id="move_<%= count %>">
          <% slice.each do | move | %>
            <%= "#{move.notation}" %>&nbsp;
          <% end %>
        </li>
          <% count += 1 %>
        <% end %>
      </ul>
      <% unless @game.result.nil? %>
      <p>Result: <%=  @game.result %></p>
      <% end %>
    </div>
  </div>
</div>
<% if current_user? @game.black %>
<%= render 'black_player.html' %>
<% else %>
<%= render 'white_player.html' %>
<%  end %>
<%= javascript_include_tag 'jquery.timers-1.2.js' %>
<%= javascript_include_tag 'jquery.simplemodal.1.4.1.min.js' %>
<%= javascript_include_tag 'chess.js' %>
<%= javascript_include_tag 'chess-util.js' %>
<script src="http://js.pusherapp.com/1.8/pusher.min.js" type="text/javascript"></script>
<script type="text/javascript">
<%= render 'game.js' %>
</script>

<div id="promotion_modal" style="display: none;">
  <ul class="piece_list">
    <li><%= image_tag "white-queen.png", :class => "simplemodal-close" %></li>
    <li><%= image_tag "white-rook.png", :class => "simplemodal-close" %></li>
    <li><%= image_tag "white-bishop.png", :class => "simplemodal-close" %></li>
    <li><%= image_tag "white-knight.png", :class => "simplemodal-close" %></li>
    <li><%= image_tag "black-queen.png", :class => "simplemodal-close" %></li>
    <li><%= image_tag "black-rook.png", :class => "simplemodal-close" %></li>
    <li><%= image_tag "black-bishop.png", :class => "simplemodal-close" %></li>
    <li><%= image_tag "black-knight.png", :class => "simplemodal-close" %></li>
  </ul>
</div>