<!DOCTYPE html>
<html>
<head>
  <title>Haltertop | <%=  @title %></title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'smoothness/jquery-ui-1.8.12.custom.css', :media => 'screen' %>
  <%= javascript_include_tag "jquery-1.5.1.min.js" %>
  <%= javascript_include_tag "jquery-ui-1.8.12.custom.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render 'layouts/header'  %>
<section id="content">
  <%= yield %>
</section>
</body>
</html>
