<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= csrf_meta_tag %>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= stylesheet_link_tag 'haltertop.css' %>
  <%= javascript_include_tag "jquery-1.5.1.min.js" %>
  <%= javascript_include_tag 'rails' %>
  <%= include_gritter %>
</head>
<body>
<div class="container">
  <%= render 'layouts/header'  %>
  <section class="round">
    <%= gflash %>
    <%= yield %>
  </section>
  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</div>
</body>
</html>
